<footer>
    <div class="footer">
        <div class="fo-socal">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
        <div class="fo-site">
             &copy;Wander Lust Private Limited
        </div>
    
        <div class="fo-info">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>